body{
    background:#f5f7fa;
    font-family:Arial,Helvetica,sans-serif;
}

.hero{
    padding:80px 0;
    background:white;
}

.card{
    transition:.3s;
    cursor:pointer;
}

.card:hover{
    transform:translateY(-8px);
}

footer{
    margin-top:80px;
}
